.listItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  border-bottom: 1px solid var(--primary-green);
  border-bottom-right-radius: 12px;

  margin-bottom: 8px;
}

.text {
  margin-right: 10px;
  overflow: hidden;
}

.number {
  display: flex;
  gap: 6px;

  text-decoration: none;
  color: var(--primary-green);
}

.deleteButton {
  background-color: transparent;
  color: var(--primary-green);
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  color: var(--primary-black);
  background-color: var(--primary-green);
}

.deleteButton:active {
  background-color: var(--transparent-green);
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 10px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6px;
}
