.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navList {
  display: flex;
  gap: 14px;
}

.navItem {
  border-radius: 20px;
  padding: 6px 12px;
  border: 2px solid var(--primary-black);
  transition: border 250ms ease-in-out;
}

.active {
  border: 2px solid var(--primary-green);
}
