.nav {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.nav a {
  display: inline-flex;
  padding: 10px 20px;

  align-self: center;

  border-radius: 30px;
  transition: background-color 250ms ease-in-out;
}

.nav a:active {
  color: var(--primary-black);
  background-color: var(--primary-green);
}
