@import-normalize;

body {
  margin: 0;
  background-color: #323232;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  margin: 0;
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
}
