.wrapper {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}

.button {
  background-color: transparent;
  font-size: 32px;
  color: var(--primary-green);
  border: none;
  cursor: pointer;
  padding: 6px 12px;

  text-transform: uppercase;
}

.button:hover {
  color: var(--transparent-green);
}

.button:active {
  background-color: transparent;
  color: var(--primary-green);
}
