.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  display: inline-flex;
  padding: 8px 16px;
  color: #ddd;

  background-color: #346fbb;

  border-radius: 4px;
  transition: background-color 250ms ease-in-out;
}

.nav a:hover {
  background-color: rgb(55, 155, 236);
}

.nav a:active {
  background-color: rgb(17, 79, 131);
}
